
@{
    ViewBag.Title = "eTicket";
}

<div id="fh5co-car" class="fh5co-section-gray">
    <div class="container">

        <table class="table table-responsive table-hover table-condensed">

            <tr>
                <th>CNIC</th>
                <th>From</th>
                <th>To</th>
                <th>Date</th>
                <th>Train</th>
                <th>Class</th>
                <th>Seat</th>
                <th>Ticket#</th>
            </tr>
            </table>




    </div>
</div>
