@model Railway_Reservation_System.Models.Fare_Detail

@{
    ViewBag.Title = "fare";
}

            <div id="fh5co-car" class="fh5co-section-gray">
                <div class="container">

                    <table class="table table-responsive table-hover table-condensed">

                        <tr>
                            <th>Serial No.</th>
                            <th>Train</th>
                            <th>Arrival Time</th>
                            <th>Departure Time</th>

                        </tr>

                    </table>

                
                </div>
            </div>
          
          

       

