
@{
    ViewBag.Title = "terms_condition";
}

<div id="fh5co-car" class="fh5co-section-gray">
    <div class="container">

        <h3>> Personal Account for E-Ticketing</h3>
        <ol style="color:black;">
            <li>
                User can create its personal account for booking of its own e-tickets and e-tickets for his friends and family.
            </li>
            <li> No User is allowed to book tickets for commercial purpose.</li>
            <li>
                Account will be activated after verification of the personal mobile number through SMS and email verification through email link (both are sent on creation of new account).
            </li>
            <li>
                If user not gets the SMS or email for verification, it can be resent up to three times.
            </li>
            <li>  On failure of 3 times, provided phone number and email will be blocked permanently for personal account purpose.</li>
            <li> Misuse of personal account / commercial use of personal account reported will be blocked on permanent bases.</li>
            <li> User can change his mobile number and email address before verification, after verification of email and mobile user is not allowed to change mobile number or email address.</li>
            <li>  User will provide its real CNIC Number while registering his new account.</li>
            </ol>
            <h3>  General Terms and Conditions for Travelers</h3>

<p style="color:black;">
            Passengers are responsible for taking care of their belongings. Pakistan Railways will not bear any responsibility in case of loss of luggage.
            The person whom Railways has assigned ticket will only be eligible to travel on that ticket, no one else will be allowed to travel on his/her ticket.
            Half fare will be applied to kids between 3 to 10 years of age.
            Half fare will be applied to old citizens of age 65 and more at the time of booking (in selected trains only).
            It is the sole responsibility of the passenger to provide the correct information while booking a ticket.
            Economy class tickets are reserved from its originating quota station to the ending station of the passenger and fare is also charged in the same way (from available seats origin to passenger ending).
            AC class tickets (except Green line) are reserved from the passengers travelling from station and passengers travelling to station and fare is also calculated in the same way.
            Green line train’s fare is Quota based. If you have to travel from Rohri to Karachi and seat available is from Rawalpindi to Karachi, then the fare will be charged from Rawalpindi to Karachi instead of Rohri to Karachi.
            Condition No. 8 of the Green line trains null and voids in 24 hours and it works on same way mentioned in Condition No. 7.
            If during the journey AC of the train fails then the difference of AC and Economy class will be calculated and refunded to the passenger if guard certificate (CM-109) is issued to the passenger.
        </p>
        <h3>Online Refund Policy</h3>
        <p style="color:black;">
            Refund of tickets purchased online will be provided only through the Service Provider who received the payment at the time of booking and via the same payment method which was used while paying for ticket.
            Passenger must have to show his/her original CNIC at the time of refund.
            Passenger has to show the cancellation message/text received from Pakistan Railways to the Service Provider at the time of getting refund.
            10% of the paid amount will be deducted on cancellation before 48 hours of the departure of the train from its originating station or from the origin of quota of the seat reserved.
            20% of the paid amount will be deducted on cancellation between 48 to 24 hours before of the train from its originating station or from the origin of quota of the seat reserved.
            30% of the paid amount will be deducted on cancellation within 24 hours of the departure of the train from its originating station or from the origin of quota of the seat reserved.
            There will be no cancellation when departure time of the train is less than 2 hours or Guard Chart has been produced* (E-Ticket Only).
            There will be no refund if user fails to produce cancellation message from Pakistan Railways.
            If train is cancelled or is late more than 6 hours then there will be no deductions, but in this case, passenger has to write an application and have to take the sign of station master to conform the scenario. (Send your application to CCM Office for this purpose).
            If a reserved seat is unavailable due to any reason then that passenger will be adjusted according to the availability of seats in train.
            If the reserved coach is not available in train due to coach damages or accidents, then full refund will be given to the passengers, however passenger will get certificate from the station master for coach non-availability for his journey and will send written request for refund to CCM office.
            After approval from the CCM office, passenger will get the refund via same payment method which was used for booking.
            After departure refund is not possible for e-ticket passengers due to technical limitations (will be available after improvement in system).
        </p>
        <h3>Paper Ticket Refund Policy</h3>
        <p style="color:black;">
            Refund of tickets purchased through reservation centers will be provided only through reservation centers, however passenger have facility to get his refund from any nearest reservation center.
            Passenger must have to provide photocopy of his/her CNIC at the time of refund.
            10% of the paid amount will be deducted on cancellation before 48 hours of the departure of the train from its originating station or from the origin of quota of the seat reserved.
            20% of the paid amount will be deducted on cancellation between 48 to 24 hours before of the train from its originating station or from the origin of quota of the seat reserved.
            30% of the paid amount will be deducted on cancellation within 24 hours of the departure of the train from its originating station or from the origin of quota of the seat reserved.
            After production of the guard chart* 30% refund will be given to passengers.
            50% refund will be given after departure of the train (within 3 hours of departure).
            If a train is cancelled them full refund will be given to passengers.
            If a reserved seat is unavailable due to any reason then that passenger will be adjusted according to the availability of seats in train.
            If the reserved coach is not available in train due to coach damages or accidents, then full refund will be given to the passengers, however passenger will get certificate from the station master for coach non-availability for his journey and will send written request for refund to Chief Commercial Manager HQ office Lahore.
            About guard chart
        </p>
        <p style="color:black;">
            Pakistan Railways print a detailed list of passengers reserved in the system before the departure of the train and conductor guard available in train verifies those passengers with the help of guard chart. At most of the locations, guard chart is produced 2 hours before the departure of the train. The available seats in the guard chart then are reserved at the current counters available at railway station. At some remote locations guard chart is produced over the night due to the limited office timings. For example, Shalimar Express starts its journey from 6:00AM so its guard chart is produced at night 8:00PM so online user can not cancel his seat after 8:00PM of previous date. Passengers who does not have any reservation or ticket, can contact with the conductor guards to get seats during the journey.
        </p>

    </div>
    </div>

